<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/logo-vectoralpha.png" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">{{ 'menu.team' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'menu.labor' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'menu.area' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'menu.collaboration' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'menu.contact' | translate }}</a>
        </li>
      </ul>
    </div>
</nav>