<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li *ngFor="let item of carouselImgs; let i = index" data-target="#carouselExampleIndicators" data-slide-to="i" [ngClass]="{'active': i == activeImg}" (click)="activeImg = i"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 custom-jumbotron" src="{{ carouselImgs[activeImg] }}" alt="{{ 'general.pagename' | translate }}">
        <div class="carousel-caption d-lg-block custom-caption">
          <h1 class="display-4 main-title">{{ title }}</h1>
          <hr class="custom-hr">
          <p class="lead description">{{ description }}</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" role="button" data-slide="prev" (click)="changeSlide('prev')">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" role="button" data-slide="next" (click)="changeSlide('next')">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>