@import '../../../styles.scss';

.custom-jumbotron {
    background-position: top;
    background-size: cover;
}
.carousel-inner, .carousel-item {
    max-height: 70vh;
}
.custom-caption {
    width: 100%;
    left: 0;
    right: 0;
    margin-bottom: 35px;
    background-color: white;
    text-align: left;
    padding: 20px 15%;
    filter: opacity(0.60);
}
.custom-hr {
    border-top: 1.5px solid $yellow;
    margin: 1.5rem 0;
}

@include media-breakpoint-down(sm) {
    .description {
        display: none;
    }
    .main-title{
        font-size: 16pt;
    }
    .custom-hr {
        margin: .5rem 0px 0px;
    }
}

@include media-breakpoint-up(sm) {
    .custom-jumbotron {
        background-position: center;
        background-size: cover;
    }
}