<div class="filter"></div>
<div class="maintenance--pic"></div>
<div class="container">
    <div class="logo"><img src="../../../../assets/logo-vectoralpha.png" alt="{{ 'general.pagename' | translate }}"></div>
    <h1>{{ 'maintenance.title' | translate }}</h1>
    <div class="container--text col-12">
        <div class="col-6">
            <p innerHTML="{{ 'maintenance.text' | translate }}"></p>
            <span innerHTML="{{ 'maintenance.inmaTel' | translate }}"></span>   <span innerHTML="{{ 'maintenance.mariaTel' | translate }}"></span>
            <p>{{ 'maintenance.direction' | translate }}</p>
        </div>
        <iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.868199662848!2d-3.692603384603562!3d40.43391727936316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228ed2bcfdb5d%3A0x9a206d77549a801d!2sCalle%20Rafael%20Calvo%2C%2042%2C%2028010%20Madrid!5e0!3m2!1ses!2ses!4v1568750479539!5m2!1ses!2ses' width='100%' height='60%' frameborder='0' style='border:0;' allowfullscreen=''></iframe>
    </div>
</div>