@import '../../../../styles.scss';

.container {
    @include fullcover;
    height: fit-content;
    padding: 5% 10% 20%;
    z-index: 2;
    .logo {
        width: 50%;
        margin: auto;
        img {
            width: 100%;;
        }
    }
    h1 {
        text-align: center;
    }
    .container--text {
        background-color: rgba($white, .5);
        padding: 2% 15pt;
    }
}
.filter {
    @include fullcover;
    background-color: rgba(0,0,0,.3);
    z-index: 1;
}
.maintenance--pic {
    @include fullcover;
    background-image: url('../../../../assets/landscape_room_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
}