<div class="container">
    <p>{{ 'team.abstract' | translate }}</p>
    <p>{{ 'team.objective' | translate }}</p>
</div>
<div class="container">
    <p>{{ 'team.introductionTeam' | translate }}</p>
    <div class="container row">
        <div class="card col-md-6">
            <img src="{{ assets + ('team.members.inmaculada.profile' | translate) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ 'team.members.inmaculada.name' | translate }} {{ 'team.members.inmaculada.surname' | translate }}</h5>
                <h6 class="card-highlighted">{{ 'team.members.inmaculada.collegiate' | translate }}</h6>
                <div class="fas-container">
                    <i class="fas fa-caret-left" [ngClass]="{'disabled': inmaculadaDataIndex === 0}" (click)="changeData('inmaculada', 'prev')"></i>
                    <p class="card-text">{{ ('team.members.inmaculada.data' | translate)[inmaculadaDataIndex] }}</p>
                    <i class="fas fa-caret-right" [ngClass]="{'disabled': inmaculadaDataIndex === ('team.members.inmaculada.data' | translate).length - 1}" (click)="changeData('inmaculada', 'next')"></i>
                </div>
            </div>
        </div>
        <div class="card col-md-6">
            <img src="{{ assets + ('team.members.maria.profile' | translate) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ 'team.members.maria.name' | translate }} {{ 'team.members.maria.surname' | translate }}</h5>
                <h6 class="card-highlighted">{{ 'team.members.maria.collegiate' | translate }}</h6>
                <div class="fas-container">
                    <i class="fas fa-caret-left" [ngClass]="{'disabled': mariaDataIndex === 0}" (click)="changeData('maria', 'prev')"></i>
                    <p class="card-text">{{ ('team.members.maria.data' | translate)[mariaDataIndex] }}</p>
                    <i class="fas fa-caret-right" [ngClass]="{'disabled': mariaDataIndex === ('team.members.maria.data' | translate).length - 1}" (click)="changeData('maria', 'next')"></i>
                </div>
            </div>
        </div>
    </div>
</div>