@import '../../../styles.scss';

.card {
    border: none;
}
.card-body {
    border-bottom: 1.5px solid $yellow;
    margin: 1.5rem 0;
    .fas-container {
        min-height: 90px;
        display: flex;
        align-items: center;
    }
}
.card-text {
    margin-top: 1rem;
}

@include media-breakpoint-up(sm) { 
    .fas-container {
        height: 110px;
    }
}