/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

@import './styles/variables.scss';
@import './styles/mixins.scss';

h1 {    
    color: $black;
    font-family: $regular;
    font-size: 32pt;
    font-weight: 700;
}

p, span {
    color: $black;
    font-family: $regular;
    font-size: 12pt;
    line-height: 15pt;
    font-weight: 400;
    a {
        color: $black;
        cursor: pointer;
        font-weight: 700;
        text-decoration: none;
    }
}

a:hover {
    text-decoration: none;
}

.fas {
    color: $yellow;
    cursor: pointer;
    font-size: 21pt;
    margin: 0 0.25em;
    display: flex;
    align-items: center;
    &:hover {
        color: $orange;
    }
    &.disabled {
        color: $cream;
        cursor: auto;
    }
    &.fas--no-hover {
        cursor: auto;
        &:hover {
            color: $yellow;
        }
    }
}

.fas-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 1.5em;
}