@import '../../../styles.scss';

.list--dot-icon {
    display: inline-block;
    .fa-circle {
        font-size: 4pt;
        position: relative;
        top: -3pt;
    }
}
.small-devices {
    display: block;
}
.large-devices {
    display: none;
}

@include media-breakpoint-up(sm) { 
    .small-devices {
        display: none;
    }
    .large-devices {
        display: block;
    }
}

@include media-breakpoint-up(lg) { 
    .small-devices {
        display: block;
    }
    .large-devices {
        display: none;
    }
}