<div class="jumbotron jumbotron-fluid footer">
    <div class="container">
        <p class="abstract">{{ 'footer.abstract' | translate }}</p>
        <hr class="my-4 custom-hr">
    </div>
    <div class="container row">
        <div class="col-sm-6 mt-2">
            <a target="_blank" href="{{ 'footer.CTM' | translate }}"><i class="fas fa-map-marked"></i></a><span class="pt-2 pl-2">{{ 'home.location' | translate }}</span>
        </div>
        <div class="col-sm-6 mt-2">
            <a href="{{ 'footer.CTC' | translate }}"><i class="fas fa-phone"></i></a><span class="pt-2 pl-2">{{ 'home.telephone' | translate }}</span>
        </div>
    </div>
</div>
<div class="postfooter"></div>